<html>
<h1>CLBoard Test</h1>
<h2>Iframe/Link to Stream</h2>
<p>This is where the iframe for the stream will go when YouTube lets us embed our own stream</p>
<a href="https://www.youtube.com/watch?v=BjSpph1dLtE">Link to Stream On YouTube</a>
<br>
<br>
<button onclick="document.location='/randomSparkle'">Random Sparkle</button>
<button onclick="document.location='/cl'">CL</button>
<button onclick="document.location='/clear'">Clear</button>
<button onclick="document.location='/flag'">Make Flag</button>
<button onclick="document.location='/message'">Welcome to the Creativity Lab</button>
<button onclick="document.location='/marquee'">Marquee Border</button>
<button onclick="document.location='/bouncy'">Bouncy</button>
<button onclick="document.location='/rainbow'">Rainbow</button>
<br>
<br>
<form method="POST" action="/messageTyped">
  <label>Type your message here!</label><input type="text">
  <br>
  <input type="submit" value="Submit Message">
</form>
